# IDE
.idea/
.vscode/

# Python virtual env
venv/

# Python cache files
*.pyc
__pycache__/

instance/

# Pytest and coverage files and folders
.pytest_cache/
.coverage
htmlcov/

# Python build files
dist/
build/
*.egg-info/

.DS_Store
.coveragerc